body {
	margin: 0;
	font-family: century gothic;
	background-color: #f1f3f7;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
}

nav .menubar {
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 40px;
	box-sizing: border-box;
	background-color: #2f3640;
	box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.3);
}

/* lets decrease height of menu bar on small devices */

@media screen and (max-width: 767px) {
	nav .menubar {
		height: 60px;
		padding: 0 20px;
	}
}

/*  lets align the logo */

nav .menubar .home {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
	font-size: 25px;
	color: white;
	transition: all 0.4s ease;
	font-weight: 600;
}

nav .menubar .home:hover {
	opacity: 0.5;
}

/* align the icons horizontally */

nav .menubar .icons {
	display: flex;
}

nav .menubar .icons .icon-menu {
	display: flex;
	width: 30px;
	height: 30px;
	position: relative;
	align-items: center;
	cursor: pointer;
	padding: 5px;
	z-index: 2;
}

nav .menubar .icons .icon-menu span {
	background-color: white;
	width: 30px;
	height: 3px;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	transition: all 0.25s ease;
	right: 0;
	border-radius: 5px;
}

nav .menubar .icons .icon-menu span:after,
nav .menubar .icons .icon-menu span:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
}

nav .menubar .icons .icon-menu span:before {
	transform: translateY(-10px);
	transition: all 0.3s 0.1s ease;
}

nav .menubar .icons .icon-menu span:after {
	transform: translateY(10px);
	transition: all 0.3s 0.2s ease;
}

nav .menubar .icons .icon-menu:hover span {
	width: 30px;
}

/* now before and after lines in menu will be reduced on hover */

nav .menubar .icons .icon-menu:hover span:before {
	width: 25px;
}

nav .menubar .icons .icon-menu:hover span:after {
	width: 20px;
}

/* now its time to style the secondary icons */

nav .menubar .icons .secondary-icons {
	display: flex;
	flex-wrap: wrap;
}

nav .menubar .icons .secondary-icons .icon-second {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.3s ease;
	padding: 5px;
}

/* give the last icon a margin-right */

nav .menubar .icons .secondary-icons .icon-second:last-child {
	margin-right: 30px;
}

/* icons on hover should translate up to 5px above */

nav .menubar .icons .secondary-icons .icon-second:hover {
	transform: translateY(-5px);
	opacity: 0.5;
}

/* remove the menu items */

nav .menu {
	display: none;
}

nav .menubar .icons.icon-menu.icon-closed {
	justify-content: center;
}

nav .menubar .icons.icon-menu.icon-closed span {
	background-color: #fff;
	justify-content: center;
	width: 0px;
	right: initial;
	opacity: 0.5;
	transition: all 0.6s ease;
}

nav .menubar .icons .icon-menu.icon-closed span:before,
nav .menubar .icons .icon-menu.icon-closed span:after {
	width: 30px;
	background-color: #fff;
	/* color: #fff; */
}

nav .menubar .icons .icon-menu.icon-closed span:before {
	transform: rotate(45deg);
}

nav .menubar .icons .icon-menu.icon-closed span:after {
	transform: rotate(-45deg);
}

nav .menubar .icons .icon-menu.icon-closed:hover span {
	width: 0;
	opacity: 1;
}

/* lets go for open class */

nav .menu.open {
	display: flex;
	z-index: 3;
	overflow: hidden;
}

nav .menu.open .menu-link {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	position: relative;
	transition: all 0.4s ease-in-out;
	animation: menu 0.6s ease forwards;
	z-index: 1;
}

@keyframes menu {
	0% {
		height: 0;
		transform: translateY(-50%);
	}

	100% {
		height: 100vh;
		transform: translateY(0%);
	}
}

/* now add background color individually */

nav .menu.open .menu-link:nth-child(1) {
	background-color: #2d3561;
	animation-duration: 0.6s;
}

nav .menu.open .menu-link:nth-child(2) {
	background-color: #c05c7e;
	animation-duration: 0.8s;
}

nav .menu.open .menu-link:nth-child(3) {
	background-color: #f3826f;
	animation-duration: 1s;
}

nav .menu.open .menu-link:nth-child(4) {
	background-color: #ffb961;
	animation-duration: 1.2s;
}

nav .menu.open .menu-link .text-item {
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	font-size: 40px;
	opacity: 0.3;
	width: 100%;
	height: 20%;
	letter-spacing: 5px;
	transform: rotate(-90deg) translateX(0px);
	transition: all 0.4s 0.2s ease, letter-spacing 0.2s ease-in, opacity 0.2s ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transform-origin: center;
	animation: text-in 0.6s ease;
	position: absolute;
	z-index: 1;
}

@keyframes text-in {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 0;
	}

	100% {
		opacity: 0.3;
	}
}

nav .menu.open .menu-link .text-item .icon {
	position: absolute;
	display: flex;
	width: 30px;
	height: 30px;
	opacity: 0;
	transform: translateY(0px);
	transition: all 0.4s ease-in-out;
	background-image: url("https://rafaelalucas91.github.io/assets/icons/white/icon-54.svg");
}

nav .menu.open .menu-link .submenu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 40px;
	box-sizing: border-box;
	opacity: 0;
	z-index: -1;
	height: 0%;
	width: 100%;
	transition: all 0.6s ease-in-out;
	background-color: rgba(255, 255, 255, 0.1);
	bottom: 0;
	transform: translateY(50%);
	position: absolute;
}

nav .menu.open .menu-link .submenu .sub-item {
	display: none;
	margin: 10px 0;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
	font-weight: 600;
	position: relative;
	width: fit-content;
	cursor: pointer;
	padding: 5px 15px;
}

nav .menu.open .menu-link .submenu .sub-item:after {
	width: 100%;
	height: 100%;
	transition: height 0.4s ease, width 0.4s 0.3s ease;
}

nav .menu.open .menu-link:hover {
	width: 50%;
	transition: all 0.4s ease-in-out;
}

nav .menu.open .menu-link:hover .text-item {
	height: 50%;
	/* transform horizontally */
	transform: rotate(0deg) translateX(0px);
	font-size: 30px;
	opacity: 1;
	letter-spacing: 10px;
}

nav .menu.open .menu-link:hover .text-item .icon {
	opacity: 1;
	/* push it down */
	transform: translateY(40px);
	transition: all 0.3s 0.4s ease-in-out;
}

nav .menu.open .menu-link:hover.active .text-item .icon {
	transform: translateY(40px) rotate(-180deg);
	transition: all 0.3s ease-in-out;
}

/* submenu should show on clicking the down arrow */
nav .menu.open .menu-link:hover.active .submenu {
	transform: translateY(0);
	height: 50%;
	z-index: 1;
	opacity: 1;
	bottom: 0;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item {
	display: flex;
	animation: submenu 1s ease forwards;
	z-index: 2;
}

@keyframes submenu {
	0% {
		transform: translateX(50px) rotate(-5deg);
		opacity: 0;
	}

	50% {
		transform: translateX(50px) rotate(-5deg);
		opacity: 0;
	}

	100% {
		transform: translateX(0px) rotate(0deg);
		opacity: 1;
	}
}

/* now, for every submenu item animation duration will be added */
nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(1) {
	animation-duration: 1s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(2) {
	animation-duration: 1.2s;
}

nav .menu.open .menu-link:hover.active .submenu .sub-item:nth-child(3) {
	animation-duration: 1.4s;
}

/* on adding close class through JS, the height should be reduced from 100vh to 0 gradually */

nav .menu.close .menu-link {
	animation: menu-close 1s ease forwards;
}

@keyframes menu-close {
	0% {
		height: 100vh;
	}

	100% {
		height: 0;
	}
}

/* while closing the menu, the text item should be faded down */
nav .menu.close .menu-link .text-item {
	animation: text-out 0.6s ease forwards;
}

@keyframes text-out {
	0% {
		opacity: 0.3;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

/* lets style the article tag */

/* Text */

.intro-section {
	box-sizing: border-box;
	margin: 0;
	padding-bottom: 8em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 5em;
	z-index: -5;
	background-image: url(img/AdobeStock_303422111_Preview.png);
	background-size: cover;
}

.intro-section div {
	margin-top: 8em;
}

.intro-section h1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 35px;
	margin-top: 1em;
	margin-left: 2.5em;
	z-index: -5;
	color: #fff;
}
.intro-section p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-size: 30px;
	margin-left: 3em;
	margin-right: 5em;
	z-index: -5;
	color: #fff;
}

.intro-button {
	border: 3px solid #fff;
	color: #fff;
	background: #a1a1a194;
	border-radius: 20px;
	padding: 15px 70px;
	font-size: 30px;
	transition: 0.5s;
	margin-top: 5em;
	margin-right: 5em;
}

.intro-button:hover {
	background: rgb(179, 179, 179);
	color: #fff;
}

.test div h1 p {
	text-align: center;
	color: white;
}

/* programming languages */

body {
	background: #2f3640;
	padding-bottom: 90em;
}

/* elias */

.programmingtest12 {
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 3em;
	flex-flow: wrap;
}

.programmingtest12 div {
	background: #ffb961;
	border-radius: 20px;
	width: 46%;
	margin: 2em;
}

.programmingtest12 div h1 {
	color: #fff;
	text-align: center;
	font-family: arial;
}

.programmingtest12 div p {
	color: #fff;
	text-align: center;
	font-family: arial;
	padding: 5em;
}

@media screen and (max-width: 1695px) {
	.programmingtest12 div {
		background: #ffb961;
		border-radius: 20px;
		width: 45%;
		margin: 2em;
	}
}

@media screen and (max-width: 1375px) {
	.programmingtest12 div {
		background: #ffb961;
		border-radius: 20px;
		width: 44%;
		margin: 2em;
	}
}

@media screen and (max-width: 1162px) {
	.programmingtest12 div {
		background: #ffb961;
		border-radius: 20px;
		width: 43%;
		margin: 2em;
	}
}
@media screen and (max-width: 1010px) {
	.programmingtest12 div {
		background: #ffb961;
		border-radius: 20px;
		width: 42%;
		margin: 2em;
	}
}
